/*Colores
#F15412 Rojo 
#000000 Negro
#34B3F1 Celeste
#EEEEEE Gris
#D91122 Bordo
#3084F2 Celeste
#2B88D9 Azul Francia
#F20F0F Rojo
#F2F2F2 Blanco Mate

Mis Fuentes:
font-family: 'Karma', serif;
font-family: 'Mulish', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_R {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
  .footer {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr;
  }
}
@media only screen and (min-width: 500px) {
  .cardDate {
    width: 200px;
  }
}
header {
  background: color #f2f2f2;
  width: 100%;
  display: grid;
  border: #D91122;
  border-style: solid;
  min-width: 250px;
}
header nav {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #F2f2f2;
  width: 100%;
}
header nav div .navLogo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #f2f2f2;
  width: 30%;
  min-width: 250px;
}
header nav .navbar-toggler {
  font-family: "Karma", serif;
  font-size: 3rem;
  font-style: bold;
  text-decoration: none;
}
header nav .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 1.5625rem;
  font-weight: 200;
  font-style: normal;
}
header nav ul {
  display: grid;
  grid-template-columns: auto;
  list-style: none;
  background-color: #f2f2f2;
  width: fit-content;
}
header nav ul li {
  background-color: #f2f2f2;
  list-style: none;
}
header nav ul li a:hover::before {
  transform: scaleX(1);
}
header nav ul li a {
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  text-decoration: none;
  text-align: left;
  font-family: "Karma", serif;
  color: #000000;
  font-size: 0.9375rem;
  font-weight: 200;
  font-style: normal;
}
header nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f2f2f2, #F20F0F, #D91122);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}
header nav .dropdown-menu {
  background-color: #f2f2f2;
}

body {
  background: linear-gradient(to top, #F2F2F2, #EEEEEE, #34B3F1, #2B88D9, #3084F2);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.articulos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: initial;
  justify-content: space-around;
  width: fit-content;
  align-content: space-between;
  align-items: center;
}
.articulos section {
  justify-content: space-around;
  width: 45%;
  margin: 0.625rem;
  margin-top: 3%;
  margin-bottom: 3%;
}
.articulos .art1, .articulos .art2 {
  display: flex;
  flex-wrap: wrap;
}
.formularioContacto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: double;
  border-color: #D91122;
  border-width: 8px;
  padding: 4%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  inline-size: auto;
  text-align: left;
  color: #000000;
  justify-content: center;
}
.formularioContacto .input, .formularioContacto select {
  background-color: transparent;
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-style: bold;
  border: none;
  border-style: groove;
}
.formularioContacto .textarea {
  margin: 2%;
  width: 50%;
  height: 20%;
}
.formularioContacto .inputcard {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: #777;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: #0d0c22;
  -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.formularioContacto .inputcard .inputcard:focus, .formularioContacto .inputcard input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: #7a9cc6;
}
.formularioContacto .inputcard .inputcard::-webkit-input-placeholder {
  color: #777;
}
.formularioContacto .inputcard .inputcard::-moz-placeholder {
  color: #777;
}
.formularioContacto .inputcard .inputcard:-ms-input-placeholder {
  color: #777;
}
.formularioContacto .inputcard .inputcard::-ms-input-placeholder {
  color: #777;
}
.formularioContacto .inputcard .inputcard::placeholder {
  color: #777;
}
.formularioContacto .inputcard .inputcard:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formularioContacto .inputcard .inputcard:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formularioContacto .inputcard .inputcard:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formularioContacto .inputcard .inputcard:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formularioContacto .inputcard .inputcard:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.formularioContacto button {
  width: 40%;
  padding: 1.3em 3em;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15625rem;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 2.8125rem;
  box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.formularioContacto button:hover {
  background-color: #D91122;
  box-shadow: 0rem 0.9375rem 1.25rem #F15412;
  color: #fff;
  transform: translateY(-0.4375rem);
}
.formularioContacto button:active {
  transform: translateY(0.0625rem);
}

.modalidadForm {
  display: flex;
  flex-wrap: wrap;
}

.cursosCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  cursor: pointer;
  margin: 5%;
}

.content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background: linear-gradient(to top, #F2F2F2, #34B3F1, #2B88D9);
  padding: 5em;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(0.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
}

.back {
  transform: rotateY(0.5turn);
  background-color: #D91122;
  font-style: bold;
  font-size: small;
}

.descriptionCursos {
  transform: translateZ(3rem);
  font-family: "Mulish", sans-serif;
  color: #000000;
  font-style: bold;
  font-size: small;
}

.mainEmpresas {
  display: flex;
  flex-wrap: wrap;
}

.tituloEmpresas {
  font-family: "Karma", serif;
  font-size: 3rem;
  font-style: bold;
  color: #000000;
  text-align: center;
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  display: block;
  position: relative;
  border-radius: 0%;
  border-style: groove;
  border-color: transparent;
  border-width: 2%;
  padding: 5%;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  justify-content: center;
}

.tituloEmpresas::before {
  border-color: transparent;
}

.tituloEmpresas:hover {
  color: #efb810;
  scale: 0.5;
  transition: 5s;
  border-color: #efb810;
}

.backempresas {
  transform: rotateY(0.5turn);
  background-color: #efb810;
}

.contEmpresas {
  background-color: #D91122;
}

.calTiltulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Karma", serif;
  color: #000000;
  align-content: center;
  margin-top: 2%;
  justify-content: center;
}

.calendarioMain {
  display: grid;
  grid-template-columns: 98%;
  grid-template-rows: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 7%;
}

.cardVentaContainer {
  display: flex;
  flex-wrap: wrap;
  flex: row;
  justify-content: space-around;
  align-content: center;
  padding: 2%;
}

.cardDate {
  display: grid;
  grid-column: 98%;
  cursor: pointer;
  align-content: center;
  margin-top: 2%;
}

.content {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: rgb(127, 204, 240);
  padding: 5em;
  transform-style: preserve-3d;
}

.cardDate:hover .content {
  transform: rotateY(0.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(3rem);
  font-size: 2rem;
  font-family: "Karma", serif;
}

.subtitle {
  transform: translateZ(2rem);
  font-size: 1.5rem;
  font-family: "Karma", serif;
}

.back {
  transform: rotateY(0.5turn);
  background-color: #009bff;
}

.descriptionCal {
  transform: translateZ(3rem);
  font-family: "Karma", serif;
  font-size: 1.5rem;
}

.cardVenta {
  border-radius: 1.25rem;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 0.125rem solid;
  border-left-color: #F15412;
  border-right-color: #F15412;
  border-top-color: #F20F0F;
  border-bottom-color: #F20F0F;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 55%;
  border-radius: 1rem;
  border: solid;
  border-color: transparent;
  background-color: #008bf8;
  font-size: 0.95rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.card-button a {
  text-decoration: none;
  color: #fff;
}

.text-body {
  color: rgb(134, 134, 134);
  text-decoration: none;
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 0.25rem 1.125rem 0 rgba(0, 0, 0, 0.25);
}

.cardVenta:hover .card-button {
  transform: translate(-50%, 0%);
  opacity: 1;
}

main {
  /* Checkbox */
  /*BOTONES */
  /* BOTON PAGAR  */
  /* BOTON AGREGAR COMPROBANTE */
  /* BOTON ENVIAR */
}
main .tituloformulario {
  color: #000000;
  font-family: "Mulish", sans-serif;
  font-size: xx-large;
  margin-top: 4%;
  text-align: center;
}
main .inscripcion {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
main .inscripcion .datos1, main .inscripcion .datos2, main .inscripcion .datos3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
main .inscripcion .datos1 .inputGroup, main .inscripcion .datos2 .inputGroup, main .inscripcion .datos3 .inputGroup {
  margin: 1%;
  width: 150%;
  font-family: "Mulish", sans-serif;
  font-style: bold;
}
main .inscripcion .datos4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  width: 50%;
}
main .inscripcion .datos4 .select-inscripcion {
  background-color: transparent;
  border: none;
  margin: 2%;
}
main .inscripcion .datos4 .select-inscripcion .optionInscription {
  background-color: transparent;
  border: none;
  font-style: bold;
  margin: 2%;
  justify-self: flex-start;
}
main .inscripcion .datos4 .select-nivel {
  background-color: transparent;
  font-style: bold;
  border: none;
  margin: 2%;
  justify-self: flex-end;
}
main .datos5 {
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .datos5 .terminosycondiciones {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
main .datos5 .terminosycondiciones h2 {
  font-size: small;
  font-family: "Karma", serif;
  font-style: bold;
}
main .datos6 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}
main .datos6 button {
  justify-content: space-around;
}
main .inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  position: relative;
  text-align: justify;
}
main .inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}
main .inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  background-color: transparent;
}
main .inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}
main .inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}
main .togglerterminos {
  width: 10%;
  margin: 0.25rem auto;
  align-content: center;
}
main .togglerterminos input {
  display: none;
}
main .togglerterminos label {
  display: block;
  position: relative;
  width: 3.125rem;
  height: 1.5625rem;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;
}
main .togglerterminos label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: "";
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}
main .togglerterminos label::after, main .togglerterminos label .toggler-on, main .togglerterminos label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 1.5625rem;
  height: 1.5625rem;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
main .togglerterminos input:checked + label::after, main .togglerterminos input:checked + label .toggler-on, main .togglerterminos input:checked + label .toggler-off {
  left: 75%;
}
main .togglerterminos input:checked + label::after {
  background-color: #50ac5d;
  animation-name: toggler-size2;
}
main .togglerterminos .toggler-on, main .togglerterminos .toggler-off {
  opacity: 1;
  z-index: 2;
}
main .togglerterminos input:checked + label .toggler-off, main .togglerterminos input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}
main .togglerterminos .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
@keyframes togglerterminos-size {
  0%, 100% {
    width: 1.625rem;
    height: 1.625rem;
  }
  50% {
    width: 1.25rem;
    height: 1.25rem;
  }
}
@keyframes togglerterminos-size2 {
  0%, 100% {
    width: 1.625rem;
    height: 1.625rem;
  }
  50% {
    width: 1.25rem;
    height: 1.25rem;
  }
}
main .btmain {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  border: none;
  background-color: #26caf8;
  font-weight: 600;
  width: 7.225rem;
  height: 4.125rem;
}
main .btnpago {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  border: none;
  background-color: #26caf8;
  font-weight: 600;
}
main .btn-1 {
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main .btn-1::after {
  content: "";
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: -50px;
  left: -100px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
  z-index: -1;
  transition: transform 0.5s ease;
}
main .btn-1:hover {
  transform: translate(0, -6px);
  box-shadow: 0.625rem -0.625rem 1.5625rem 0 rgba(143, 64, 248, 0.5), -0.625rem 0.625remx 1.5625rem 0 rgba(39, 200, 255, 0.5);
}
main .btn-1:hover::after {
  transform: rotate(150deg);
}
main .icon-btn {
  width: 3.125rem;
  height: 3.125rem;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: 500;
  font-family: inherit;
}
main .add-btn:hover {
  width: 7.5rem;
}
main .add-btn::before,
main .add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: seagreen;
}
main .add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
main .add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
main .icon-btn:focus {
  outline: none;
}
main .btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
main .add-btn:hover::before,
main .add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
main .add-btn:hover .btn-txt {
  opacity: 1;
}
main .add-icon::after,
main .add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: seagreen;
  overflow: hidden;
}
main .add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
main .add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
main .add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
main .add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
main .btnEnviar {
  color: white;
  padding: 0.7em 1em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.2s;
  width: 7.225rem;
  height: 4.125rem;
  text-decoration: none;
  font-size: 1em;
  position: relative;
  font-weight: 600;
}
main .btnEnviar span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  color: black;
}
main .btnEnviar svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
main .btnEnviar:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
main .btnEnviar:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
main .btnEnviar:hover span {
  transform: translateX(5em);
}
main .btnEnviar:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}

footer {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 2fr;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: #000000;
  background: linear-gradient(to bottom, #D91122, #F20F0F, #F15412);
  font-family: "Mulish", sans-serif;
  margin-top: 10%;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
footer .redesbt {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-around;
  padding: 0%;
  align-items: flex-end;
  margin-left: 3%;
}
footer .redesbt .buttonredes1 {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #25D366;
  font-size: 17px;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}
footer .redesbt .buttonredes2 {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016DD9;
  font-size: 17px;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}
footer .redesbt .buttonredes3 {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #DD2A7B;
  font-size: 17px;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
}
footer .redesbt .buttonredes:hover {
  animation: shake3856 0.3s linear infinite both;
}
footer .redesbt .buttonredes a {
  text-decoration: none;
  color: #ffffff;
}
@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.cardfooter {
  padding: 2%;
  margin-top: 1.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
  margin-right: 0%;
  width: 20%;
  text-align: center;
  background: #2B88D9;
  border-radius: 10%;
}

/*Inputs*/
.field {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -sm-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5em;
  background-color: #1f2029;
  border-radius: 5%;
  padding: 0.5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #D91122;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 90%;
  color: #d3d3d3;
}

/*Text*/
.title {
  margin-bottom: 1rem;
  font-size: 120%;
  font-style: bold;
  color: #f5f5f5;
}

/*Buttons*/
.btn {
  margin: 0.5rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #D91122;
  color: #5e6681;
  -webkit-box-shadow: 0 1% 5% 0 rgba(255, 235, 167, 0.2);
  box-shadow: 0 1% 5% 0 rgba(255, 235, 167, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-link {
  color: #f2f2f2;
  display: block;
  font-size: 0.75em;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

/*Hover & focus*/
.field input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.field input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.field input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.field input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.field input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn:hover {
  background-color: #3084F2;
  color: #D91122;
  -webkit-box-shadow: 0 1% 5% 0 rgba(16, 39, 112, 0.2);
  box-shadow: 0 1% 5% 0 rgba(16, 39, 112, 0.2);
}

/*# sourceMappingURL=style.css.map */
