** Colores
#F15412 Rojo
#000000 Negro
#34B3F1 Celeste
#EEEEEE Gris
#D91122 Bordo
#3084F2 Celeste
#2B88D9 Azul Francia
#F20F0F Rojo
#F2F2F2 Blanco Mate
/**
Mis Fuentes:
font-family: 'Karma', serif;
font-family: 'Mulish', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    
  header {
    display: grid;
    grid-column: 2;
    grid-template-rows:auto;
    grid-area: header;
    background: color #f2f2f2;;
    width: 100%;
   display: flex;
    flex-direction: row;
    border: #D91122;
    border-style: solid;
}

/*logo inicio de página*/
.logoNav{
    align-items: center;
    position: relative;
    background-color: #F2f2f2;
    
    }

.nav-item{ 
    font-weight: bold;
    color: #000000;
    font-family:'Karma', serif; 
    text-decoration: none;
    list-style: none;
    
        
}

.body{
    background-color:#3084F2;
    align-items: center;
    justify-content: center;
    width: 100%;        
}



  

    .navbar{
        background-color:#F2f2f2;
    }

    .dropdown-menu{
        background-color: #F2F2F2;
        
    }   
    .dropdown-item{
        font-family:'Karma', serif ;
        color: #000000;
        
    }
    
/**MAIN**/

.articulos{
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    justify-content: space-around;
    
    align-content: space-between;
    align-items:center;
         
}
.art1{
    height: 40%;
    width: 40%;
    margin: 10px;
}
.art2{
    height: 40%;
    width: 40%;
    margin: 10px;

}





    /* FOOTER*/

    .footer{
    
        list-style: none;
        text-decoration: none;
        color: #000;
        background-color:#D91122;
        font-family: 'Mulish', sans-serif ;
        /**border-color: #2F9ec1;
        border-width: 2px;
        border-style: groove;**/
        margin-bottom: 0px;
        height: 100%;
        justify-content: space-between;
        
    }

    .footerlist{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        justify-items: center;

    }


    
        .nav-link {
            list-style: none;
            text-decoration: none;
            font-family:'Karma', serif ;
            color: #000;
            font-size: 25px;
            font-weight: 200;
            font-style:normal;  
        }



/*CURSOS**/


.cursosCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
   justify-content: center;
    align-content: center;
    }

    .card{
        margin: 20px;
        padding: 10px;
        
    }

   .card:hover{
        transform:scale(1.6);
        transition: 3s;
    
    }

    .card-body {
        background-color: #D91122;
    }


/*CONTACTO**/

.formularioContacto {
    font-family:'Mulish', sans-serif;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: double;
    border-color: #F2F2F2;
    border-width: 8px;
    padding: 20px;
    border-radius: 20px;
    background-color:#F20F0F;
    padding: 10px;
    inline-size: auto;
    text-align: left;
    color: #F2F2F2;
}

.formularioContacto input{
    background-color: #34b3f1;
    color: #000;
    border-color: #EEEEEE;
    font-family: 'Mulish', sans-serif;
    
}
.formularioContacto select{
    background-color: #34b3f1;
    color: #000;
    border-color: #EEEEEE;
    font-family: 'Mulish', sans-serif;
}

/**EMPRESAS**/

.card-bodyEmpresas{
    background-color:#efb810;
    
} 

.empresascards{
    margin-bottom: 100px;
    margin-top: 50px;
}
/**.empresasCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
   justify-content: center;
    align-content: center;
       
}**/

/**.cardempresas:hover{
    transform:scale(1.6);
    transition: 3s;
} **/



/** CALENDARIO**/

.calendarioCursos {
    margin-left: 400px;
    margin-right: 430px;
    margin-top: 0px;
    border-color: #D91122;
    border-width: 15px;
    border-style: groove;   
    justify-content: center;
    
}