/* Colores
#F15412 Rojo
#000000 Negro
#34B3F1 Celeste
#EEEEEE Gris
#D91122 Bordo
#3084F2 Celeste
#2B88D9 Azul Francia
#F20F0F Rojo
#F2F2F2 Blanco Mate
/**
Mis Fuentes:
font-family: 'Karma', serif;
font-family: 'Mulish', sans-serif;
*/

$colorfondos-gral:#3084F2;
$colorfondo-light:#f2f2f2;
$colorfooterybordes:#D91122;
$color-empresas:#efb810;
$color-letras:#000000;
$fuente-gral:'Karma', serif;
$fuente-otros:'Mulish', sans-serif;
