footer{
    list-style: none;
    text-decoration: none;
    color: #000;
    background-color:#D91122;
    font-family: 'Mulish', sans-serif ;
    margin-bottom: 0px;
    height: 100%;
    justify-content: space-between;
    nav{
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        justify-items: center;
        ul{
            li{
                a{
                    list-style: none;
                    text-decoration: none;
                    font-family:'Karma', serif ;
                    color: #000;
                    font-size: 25px;
                    font-weight: 200;
                    font-style:normal;  

                }
            }
        }
    }
}

.nav-link{
    list-style: none;
            text-decoration: none;
            font-family:'Karma', serif ;
            color: #000;
            font-size: 25px;
            font-weight: 200;
            font-style:normal;  
}