footer{
    @include footerGrid;
    
    nav{
               
        .footerlist{
            display: grid;
            grid-template-rows: 0.5fr 0.5fr 0.5fr;
            grid-template-columns: 98%;
            width: 100%;
            margin-top: 1%;
            margin-bottom: 1%;
            li{
                width:15%;
               
                a{
                   padding: 0%;

                }
            }
        }
        .footerForm{
            width: fit-content;
            height: 5%;
            font-family:'Karma', serif ;
            margin-right: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 5%;

            .formDiv{
                font-size: small;
                font-family:$fuente-gral ;
                
                
                .form-label{
                    font-size: small;
                    font-family:$fuente-gral ;
                }
            }

        }
    }
}

.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
            text-decoration: none;
            font-family:'Karma', serif ;
            color: $color-letras;
            font-size: 25px;
            font-weight: 200;
            font-style:normal;  
}