header {
   
    background: color #f2f2f2;;
    width: 100%;
   display: grid;
    border: #D91122;
    border-style: solid;
    min-width: 250px;
    nav{
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: #F2f2f2;
        width: 100%;
        div{
            .navLogo{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                background-color:$colorfondo-light;
                width: 30%;
                 min-width: 250px;

            }

        }

        .navbar-toggler {
           font-family:$fuente-gral ;
           font-size: 3rem;
           font-style: bold;
           text-decoration: none;
        }
        .nav-link{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            text-decoration: none;
            font-family:'Karma', serif ;
             color: $color-letras;
            font-size: 1.5625rem;
            font-weight: 200;
            font-style:normal;  
           }      

        ul{
            display: grid;
            grid-template-columns: auto;
            list-style: none;
            background-color:$colorfondo-light;
            width: fit-content;
            
           
            li{
                
                background-color:$colorfondo-light;
                list-style: none;
                
                a:hover::before{
                    transform: scaleX(1);
                }
                a{
                   @include navBarText;
                }
                   a::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(to right, #f2f2f2, #F20F0F, #D91122);
                    z-index: 1;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.5s ease-in-out;
                  }
                  
                 

                
               
            }
            
        }
        .dropdown-menu{
            background-color: $colorfondo-light;
                    
        }
    }
}

    