header {
   
    background: color #f2f2f2;;
    width: 100%;
   display: grid;
    border: #D91122;
    border-style: solid;
    min-width: 250px;
    nav{
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: #F2f2f2;
        width: 100%;
        div{
            .navLogo{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                background-color:$colorfondo-light;
                width: 30%;
                 min-width: 250px;

            }

        }

        .navbar-toggler {
           font-family:$fuente-gral ;
           font-size: 50px;
           font-style: bold;
           text-decoration: none;
        }
       

        ul{
            display: grid;
            grid-template-columns: auto;
            list-style: none;
            background-color:$colorfondo-light;
            width: fit-content;
            
           
            li{
                
                background-color:$colorfondo-light;
                list-style: none;
                
                a:hover{
                    transform: scale(1.2);
                    transition:2s;
                }
                a{
                    align-items: center;
                    position: relative;
                    background-color:$colorfondo-light;
                    text-decoration: none;
                    font-family:$fuente-gral;
                    color: $color-letras;
                    font-size: 15px;
                    font-weight: 200;
                    font-style:normal; 

                }
            }
            
        }
    }
}

    