.calendarioCursos {
    margin-left: 400px;
    margin-right: 430px;
    margin-top: 0px;
    border-color: #D91122;
    border-width: 15px;
    border-style: groove;   
    justify-content: center;
    
}