
.calTiltulo{
    display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  font-family: $fuente-gral;
  color: $color-letras;
  align-content: center;
  margin-top: 2%;
  justify-content: center;
}
.calendarioMain{
    display:grid;
    grid-template-columns: 98%;
    grid-template-rows: 2fr 2fr;
    flex-wrap: wrap;

    justify-content: space-between;
    width: 100%;
    margin-top: 7%;
  
    
}
.cardVentaContainer{
display: flex;
flex-wrap: wrap;
flex: row;
justify-content: space-around;
align-content: center;
padding: 2%;
}





.cardDate {
   display: grid;
   grid-column: 98%;
   cursor: pointer;
   align-content: center;
   margin-top: 3%;
    
  }

  
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background-color: rgb(127, 204, 240);
    padding: 5em;
    transform-style: preserve-3d;
  }
  
  .cardDate:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
  }
  
  .title {
    transform: translateZ(3rem);
    font-size: 2rem;
    font-family: $fuente-gral;

  }
  
  .subtitle {
    transform: translateZ(2rem);
    font-size:1.5rem ;
    font-family: $fuente-gral;
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #009bff;
  }
  
 .descriptionCal {
   transform: translateZ(3rem);
   font-family: $fuente-gral;
   font-size:1.5rem ;
    
 }



.cardVenta {
  border-radius: 1.25rem;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 0.125rem solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 0.25rem 1.125rem 0 rgba(0, 0, 0, 0.25);
 }
 
 .cardVenta:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }