.formularioContacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family:'Mulish', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: double;
    border-color: $colorfooterybordes;
    border-width: 8px;
    padding: 4%;
    border-radius: 10px;
    background-color:$colorfondo-light;
    padding: 10px;
    inline-size: auto;
    text-align: left;
    color:$color-letras;
    justify-content: center;
    
    
    .input{
        background-color: transparent;
        color: $color-letras;
        font-family: $fuente-otros;
        font-style: bold;
        border: none;
        border-style:groove;
        

    }
    select{
       @extend.input;

    }
    .textarea{
        margin: 2%;
        width: 50%;
        height: 20%;

    }

    
    .inputcard {
        line-height: 28px;
        border: 2px solid transparent;
        border-bottom-color: #777;
        padding: .2rem 0;
        outline: none;
        background-color: transparent;
        color: #0d0c22;
        -webkit-transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
       
       
       .inputcard:focus, input:hover {
        outline: none;
        padding: .2rem 1rem;
        border-radius: 1rem;
        border-color: #7a9cc6;
       }
       
       .inputcard::-webkit-input-placeholder {
        color: #777;
       }
       
       .inputcard::-moz-placeholder {
        color: #777;
       }
       
       .inputcard:-ms-input-placeholder {
        color: #777;
       }
       
       .inputcard::-ms-input-placeholder {
        color: #777;
       }
       
       .inputcard::placeholder {
        color: #777;
       }
       
       .inputcard:focus::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
       }
       
       .inputcard:focus::-moz-placeholder {
        opacity: 0;
        -moz-transition: opacity .3s;
        transition: opacity .3s;
       }
       
       .inputcard:focus:-ms-input-placeholder {
        opacity: 0;
        -ms-transition: opacity .3s;
        transition: opacity .3s;
       }
       
       .inputcard:focus::-ms-input-placeholder {
        opacity: 0;
        -ms-transition: opacity .3s;
        transition: opacity .3s;
       }
       
       .inputcard:focus::placeholder {
        opacity: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
       }
    }
    button {
        width: 40%;
        padding: 1.3em 3em;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.15625rem;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 2.8125rem;
        box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      
      button:hover {
        background-color: $colorfooterybordes;
        box-shadow: 0rem  0.9375rem  1.25rem #F15412;
        color: #fff;
        transform: translateY(-0.4375rem);
      }
      
      button:active {
        transform: translateY(0.0625rem);
      }
       
       
}



.modalidadForm{
    display: flex;
    flex-wrap: wrap;
}

