
.tituloEmpresas{
    font-family:$fuente-gral;
    font-size:50px;
    font-style: italic;
    color:$color-letras;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    display:block;
}
.tituloEmpresas:hover{
    color: $color-empresas;
    transition: 1.5s;
}
.empresascards{
    margin-bottom: 110px;
    margin-top: 80px;
    div{
    .card-bodyEmpresas{
        background-color:$color-empresas;
        .card-text{
            font-family:$fuente-gral;
            font-style: bold;

        }
    }
}
}