.mainEmpresas{
    display: flex;
    flex-wrap: wrap;
}
.tituloEmpresas{
    font-family:$fuente-gral;
    font-size: 3rem;
    font-style: bold;
    color:$color-letras;
    text-align: center;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    display:block;
    position: relative;
    border-radius: 0%;
    border-style: groove;
    border-color: transparent;
    border-width: 2%;
    padding: 5%;
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
    justify-content: center;
}
.tituloEmpresas::before{
    border-color: transparent;
}
.tituloEmpresas:hover{
    color: $color-empresas;
    scale: 0.5;
    transition: 5s;
    border-color: $color-empresas;
}

.backempresas {
    transform: rotateY(0.5turn);
    background-color:$color-empresas;
  }

.contEmpresas{
    background-color:$colorfooterybordes;
}
