.cursosCards{
    @include flexCard;
    
    .card:hover{
        transform:scale(1.6);
        transition: 3s;
    }
    .card{
        margin: 20px;
        padding: 10px;
        .card-body{
            background-color: $colorfooterybordes;
            p{
                font-family:$fuente-gral;
                font-style: bold;
            }
        }
    }
}

 