
.tituloEmpresas{
    font-family:$fuente-gral;
    font-size:50px;
    font-style: italic;
    color:$color-letras;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    display:block;
}
.tituloEmpresas:hover{
    color: $color-empresas;
    transition: 1.5s;
}

.backempresas {
    transform: rotateY(0.5turn);
    background-color:$color-empresas;
  }

.contEmpresas{
    background-color:$colorfooterybordes;
}
